#single-file config for docker

defaults
  option  tcplog
  option   dontlognull
  option  redispatch
  option  tcp-smart-accept
  option  tcp-smart-connect
  #option forwardfor
  option http-server-close
  retries 3
  maxconn 900000
  timeout connect 9000
  timeout check   3000
  timeout client  1800s
  timeout server  1800s

listen stats
   mode http
   bind :18181
   option http-use-htx
   http-request use-service prometheus-exporter if { path /metrics }
   stats enable
   stats uri /stats
   stats refresh 10s