frontend stolon_standby_frontend
	mode tcp
	bind *:{{ frontend_port }}
	use_backend stolon_standby_backend

backend stolon_standby_backend
  mode tcp
  balance roundrobin
{% for server in servers %}  server stolon_standby_{{ loop.index }} {{ server }} check port {{ server.split(":")[1] }} inter 5 fall 3 rise 2
{% endfor %}